@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<li>@Html.ActionLink("Upload Single File", "Upload")</li>
<li>@Html.ActionLink("Upload Multi-file with Multi-input", "MultiUpload")</li>
<li>@Html.ActionLink("Upload Multi-file with jQuery Plugin MultiFile", "MultiFileUploadWithMultiFile")</li>
<li>@Html.ActionLink("Upload Multi-file with jQuery Plugin Uploadify", "MultiFileUploadWithUploadify")</li>
